* {
    color: #1d5707;
}

body{
    margin: 0;
}
.header {
    width: 100%;
    background-color: #669a2a;
    padding: 10px;
    min-height: 120px;
}

.header-content {
    margin: 10px;
    height: 120px;
    background-color: #85b252;
}

.pg-nav{
    float: right;
    font-size: xx-large
}

.one {
    background-color: #558d24;
}
.two {
    background-color: #b1d38b;
}

.name {
    margin: 20px;
    font-size: larger;
}

.img {
    float:left;
    margin: 10px;

}

.content {
    max-width: 960px;
    background-color: #eaf1e2;
    margin: 0 auto;
    margin-top: 1%;
    padding: 1%;
}

.footer {
    margin-top: 50px;
    min-height: 60px;
    width: 100%;
    background-color: #c1d6aa;
}