body{
    margin: 0;
    backgound-color: #c18b92;
}
header{
    width:100%;
    background-color:#a65963;
    padding: 10px;
    height: 120px;
}
header-content{
    margin:auto;
    max-width:960px;
}
logo{
    float:left;
    margin: 20px;
    width: 100px;
    height: 100px;
}
content{
    max-width: 800px;
    background-color: #a65963;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
footer{
    width: 100px;
    background-color: #a65963;
    margin: 50px;
    padding: 50px;
}