* {
    color: #1d5707;
    margin: 0;
}

.header {
    background-color: #669a2a;
    height: 120px;
    min-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
}

.header-content {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    margin-left: 20px;
}

.image {
    float: left;
    display: flex;
}

.flex-box {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 2vh;

    gap: 3vh;
    justify-content: center;
}

.content-block {
    background-color: #eaf1e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
    min-width: 402px;
}

.content-block img{
    max-width: 100%;
}

.name-pg {
    margin-left: 1vw;
    font-size: xx-large;
}

.pg-nav {
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one {
    background-color: #558d24;
}
.two {
    background-color: #b1d38b;
}

.copyright{
    align-items: center; 
    padding-top: 1vh;
}

.footer {
    min-width: 425px;
    height: 40px;
    background-color: #669a2a;
}

.flex-item-2{
    order: 1;
}
.flex-item-1{
    order: 2;
}
.flex-item-3{
    order: 3;
}


@media screen and (min-width: 769px){
    .header {
        flex-direction: row;
        min-height: 120px;
        width: 100%;
    }
    .content-block {
        min-width: 960px;
        margin: 0 auto;
        padding: 1%;
    }

    .flex-item-2{
        order: 2;
    }
    .flex-item-1{
        order: 1;
    }
    .flex-item-3{
        order: 3;
    }

    .pg-nav{
        font-size: xx-large;
        flex-direction: row;
    }
    
    .pg-nav a {
        margin-right: 20px;
    }

    footer{
        width: 100%;
        min-height: 60px;
        margin-top: 10px;
    }
}