* {
    color: #1d5707;
    margin: 0;
}

.header {
    background-color: #669a2a;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    display: flex;
    padding: 20px;
    align-items: center;
}

.header-content h1 {
    margin-left: 20px;
}

.image {
    float: left;
    display: flex;
}

.flex-box {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 2vh;

    gap: 3vh;
    justify-content: center;
}

.content-block {
    background-color: #eaf1e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 3vw;
}

.content-block img{
    max-width: 100%;
}

.name-pg {
    margin-left: 1vw;
    font-size: xx-large;
}

.pg-nav {
    font-size: larger;
    padding-bottom: 1vh;
}

.one {
    background-color: #558d24;
}
.two {
    background-color: #b1d38b;
}

.footer {
    min-width: 402px;
    height: 40px;
    background-color: #669a2a;
    align-items: center;
}

.flex-item-2{
    order: 1;
}
.flex-item-1{
    order: 2;
}
.flex-item-3{
    order: 3;
}


@media screen and (min-width: 769px){
    .header {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .flex-item-2{
        order: 2;
    }
    .flex-item-1{
        order: 1;
    }
    .flex-item-3{
        order: 3;
    }
    .pg-nav{
        flex-direction: column;
        font-size: xx-large;
        padding-bottom: 1vh;
    }
    footer{
        min-height: 60px;
    }
}
